* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

nav {
    height: 10vh;
    background-color: #0b0b0b;
    display: flex;
    align-items: center;
}

.nav-options-wrapper {
    margin-left: 6%;
}

.nav-options-wrapper > span {
    margin: 8px;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.nav-link:hover {
    color: rgb(33, 25, 185);
}

#home-link {
    color: rgb(32, 23, 215);
}

main {
    background-image: url(../images/compute-ea4c57a4.png);
    background-repeat: no-repeat;
}

.background-opacity {
    background-color: rgba(0, 0, 0, 0.280);
    padding-top: 20px;
}

h2 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.text-conteiner {
    display: flex;
    justify-content: center;
}

p {
    text-align: justify;
    width: 70vw;
    line-height: 1.6;
    font-size: 18px;
    color: white;
}