* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

nav {
    height: 10vh;
    background-color: #474747;
    display: flex;
    align-items: center;
}

.nav-options-wrapper {
    margin-left: 6%;
}

.nav-options-wrapper > span {
    margin: 8px;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.nav-link {
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.nav-link:hover {
    color: rgb(12, 0, 234);
}

main {
    background-image: url(../images/compute-ea4c57a4.png);
    background-repeat: no-repeat;
}

.background-opacity {
    background-color: rgba(255, 255, 255, 0.105);
    padding-top: 10px;
}

h2 {
    text-align: center;
    margin-top: 10px;
    color: white;
    text-decoration: underline;
}

.section-artigos {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;
    padding: 15px;
}

.card-artigo {
    background-color: rgba(0, 0, 0, 0.695);
    width: 350px;
    height: 170px;
    padding: 10px;
    border-radius: 4px;
}

.titulo-artigo {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.link-artigo {
    height: 93px;
}

.texto-artigo {
    color: white;
    height: inherit;
    text-align: justify;
    font-size: 16px;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
}

footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: black;
}

footer > p {
    color: white;
    height: ;
}